* {
	font-family: font-family;
}

body {
	background: #fff0f5 url(https://t4.ftcdn.net/jpg/02/22/17/97/360_F_222179720_h4HaoaN4ZSASTZ63GEZFLTzVnj9aElCl.jpg) no-repeat center center fixed;
	background-size: cover;
	position: relative;
	padding:0;
}
