.info-tortas {
	display:grid;
	margin: 40px 0px 0px 20px;
	grid-template-columns: 390px 390px;
	grid-template-rows: repeat (4, 200px);
	grid-row-gap: 5px;
	grid-column-gap: 10px;
}

.img-tortas {
	height: 120px;
	width: 120px;
	object-fit: cover;
	align-self: center;
	border-radius: 15%;
	transition-property: background, border-radius;
    transition-duration: 1s;
    transition-timing-function: linear;
}

.img-tortas:hover {
   border-radius: 50%;
}

.tortas {
	display: grid;
	grid-template-columns: 120px 260px;
	grid-template-rows: 150px;
	grid-column-gap: 6px;
	align-self: center;
}