$font-family: barlow, sans-serif;
$title-color: purple;
$primary-color: rebeccapurple;
$navbar-font-size: 20px;
$subtitle-font-size: 30px;
$p-font-size: 1.2em;
$padding-titles: 10px;
$image-height: 120px;
$image-width: 120px; 

@mixin displayindex {
	display: inline-block;
	width: 200px;
	height: 200px;
	padding: 10px;
	margin: 10px;
}

* {
	font-family: $font-family;
}

body {
	background: #fff0f5 url(https://t4.ftcdn.net/jpg/02/22/17/97/360_F_222179720_h4HaoaN4ZSASTZ63GEZFLTzVnj9aElCl.jpg) no-repeat center center fixed;
	background-size: cover;
	position: relative;
	padding:0;
}

/* inicio navbar y logo */
.header-container {
	display: grid;
	padding: 20px 10px;
	grid-template-rows: 100px;
	grid-template-columns: 150px 150px 150px 150px 150px 150px;
	.header-responsive {
		display:none;
	}
}

 .logoppal {
	height: 80px;
	border-radius: 5px;
	box-sizing: border-box;
}

.header-nav {
    margin:20px;
    padding: 0px;
    justify-self: center;
    align-self: center;
}

a {
text-decoration: none;
color: $primary-color;
font-size: $navbar-font-size;
font-weight: 800;
}

a:hover {
text-decoration: underline;
}

@media screen and (max-width:768px) {
	.logo-respopnsive {
		height: 70px;
		border-radius: 5px;
		box-sizing: border-box;
	}

	.header-container {
		display: flex;
		padding: 10px 5px;
		flex-wrap: wrap;
		.header-nav {
			display:none;
		}
	}

 

}

/* cierre navbar y logo */

/* inicio titulos y parrafo */
.titulos {
	display:flex;
	margin:auto;
	justify-content: left;
}

.titulo_h1 {
	display:flex;
	font-size:55px;
	padding: $padding-titles;
	margin:0;
	color: $title-color;
}

.titulo_h2 {
	display:flex;
	color: $title-color;
	align-items: center;
}

.subtitulo {
	text-align: left;
	font-size: $subtitle-font-size;
	padding: $padding-titles;
	margin:10px 0px 0px 0px;
}

p {
	width: 750px;
	text-align:left;
	font-size: $p-font-size;
	padding: $padding-titles;
	margin: 0px;
}
/* cierre titulos y parrafo */

/* inicio footer */
.footer {
	width: 100%;
	margin-top: 20px;
	background-color: white;
	opacity: 60%;
	padding: 7px;
	a {
	margin: 0px 5x;
	line-height: 25px;
	}
}
/* cierre footer*/

/* inicio index */
.imgindex {
	@include displayindex;
	object-fit: cover;
	transition: width 2s, height 2s;
}

.imgindex:hover {
	width: 275px;
	height: 275px;
}
/* cierre index */

/* inicio tortas */
.tortas {
	display:grid;
	margin: 40px 0px 0px 20px;
	grid-template-columns: 390px 390px;
	grid-template-rows: repeat (4, 200px);
	grid-row-gap: 5px;
	grid-column-gap: 10px;
}

.img-tortas {
	height: $image-height;
	width: $image-width;
	object-fit: cover;
	align-self: center;
	border-radius: 15%;
	transition-property: background, border-radius;
    transition-duration: 1s;
    transition-timing-function: linear;
}

.img-tortas:hover {
   border-radius: 50%;
}

.info-tortas {
	display: grid;
	grid-template-columns: 120px 260px;
	grid-template-rows: 150px;
	grid-column-gap: 6px;
	align-self: center;

	span {
		align-self: center;
	}
}
/* cierre tortas */

/* inicio cupcakes */
.cupcakes{
	display:grid;
	grid-template-columns: 120px 400px;
	grid-column-gap: 10px;
	margin: 20px 0px 10px 10px;

	span {
		align-self: center;
	}
}

.img-cupcakes {
	height: $image-height;
	width: $image-width;
	object-fit: cover;
	border-radius: 15%;
    transition-property: background, border-radius;
    transition-duration: 1s;
    transition-timing-function: linear;
}

  .img-cupcakes:hover {
    border-radius: 50%;
}
/* cierre cupcakes */

/* inicio recetas */
.recetas {
display:grid;
grid-template-columns: 700px;
grid-template-rows: repeat (5, 350px);
grid-row-gap: 10px;
padding: 15px;
width: 65%;
}
/* cierre recetas */

/* inicio contacto */
iframe {
	margin: 20px 10px;
}

.detalle-form {
	margin-left: 10px;
}

.formulario {
	background-color:white;
	display:block;
	width: 40%;
  	padding: 12px 20px;
  	margin: 8px 10px;
  	box-sizing: border-box;
	border:none;
	border-radius: 4px;
}

.formulario:focus {
	border: 3px solid $primary-color;
}

.formulario2 {
	background-color:white;
	display:block;
	width: 40%;
	height:120px;
  	padding: 12px 20px;
  	margin: 8px 10px;
  	box-sizing: border-box;
	border: none;
	border-radius: 4px;
}

.formulario2:focus {
	border: 3px solid $primary-color;
}

.formulario3 {
	font-size: 18px;
}

input[type=submit], input[type=reset] {
	background-color: rgb(147, 125, 169);
	border: none;
	border-radius: 4px;
	color: white;
	padding: 10px 10px;
	text-decoration: none;
	margin: 4px 10px;
	cursor: pointer;
  }

.buttons{
	display:flex;
	width: 500px;
	justify-content: end;
}
/* cierre contacto */